*.sh text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
src/server/native_bridge/discord_social_sdk/**/*.aar filter=lfs diff=lfs merge=lfs -text
src/server/native_bridge/discord_social_sdk/**/*.dbg filter=lfs diff=lfs merge=lfs -text
src/server/native_bridge/discord_social_sdk/**/*.dll filter=lfs diff=lfs merge=lfs -text
src/server/native_bridge/discord_social_sdk/**/*.dylib filter=lfs diff=lfs merge=lfs -text
src/server/native_bridge/discord_social_sdk/**/*.lib filter=lfs diff=lfs merge=lfs -text
src/server/native_bridge/discord_social_sdk/**/*.so filter=lfs diff=lfs merge=lfs -text
src/server/native_bridge/discord_social_sdk/**/discord_partner_sdk filter=lfs diff=lfs merge=lfs -text
